
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    overflow: hidden;
    font-family: "sigurd", sans-serif;
    background-color: #ffffff;
    color: #000;
}
canvas {
    width: 100%;
    height: 100%;
}

#three-canvas {
    width: 100%;
    height: 100%;
}

.header {
    position: absolute;
    top: 20px;
    left: 20px;
    text-align: left;
    z-index: 2000;
}
.header .name {
    font-size: 72px;
    font-family: "argent-pixel-cf", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #000;
}
.header .contact {
    font-size: 16px;
    font-family: "argent-pixel-cf", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000;
}
.header .links {
    font-size: 16px;
    font-family: "argent-pixel-cf", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000;
    margin-top: 5px;
}
.header .links a {
    color: #000;
    text-decoration: none;
    margin-right: 10px;
}
.header .links a:hover {
    text-decoration: underline;
}
.crt::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.15s infinite;
}
.crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    opacity: 45%;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}
.crt {
    animation: textShadow 1.6s infinite;
}
.header .wavy {
position: relative;
}

.header .wavy span {
    position: relative;
    display: inline-block;
    font-family: "argent-pixel-cf", sans-serif;
    font-weight: 800;
    color: #000000;
    font-size: 5em;
    text-transform: uppercase;
    animation: animate 1.5s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

.nav {
    position: fixed;
    top: 23%;
    left: 50%;
    padding: 1rem;
    transform: translate(-50%, -50%);
    font-family: "argent-pixel-cf", sans-serif;
    font-weight: 400;
    background: rgba(242, 242, 242, 0.8);
    display: flex;
    gap: 1rem;
    z-index: 1000;
}

.nav-link {
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background: rgba(255, 255, 255, 0.1);
}

.nav-link:hover {
    background: rgba(255, 255, 255, 0.2);
}

.nav-link.active {
    background: rgba(255, 255, 255, 0.3);
}

#three-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.content-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-out, visibility 0.3s;
}

.content-section.hidden {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    pointer-events: none;
}

.carousel-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    cursor: grab;
}

.carousel-container.dragging {
    cursor: grabbing;
}

.carousel {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    perspective: 1000px;
}

.item {
    position: absolute;
    /* width: 192px;
    height: 256px; */
    transform-style: preserve-3d;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
}

.dragging .item {
    transition: none;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
    -webkit-user-drag: none;
}

.card-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    
    color: white;
    padding: 8px;
    text-align: center;
}

.about-container {
    max-width: 800px;
    font-family: "argent-pixel-cf", sans-serif;
    margin: 0 auto;
    padding: 1rem;
}

.about-title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-family: "argent-pixel-cf", sans-serif;
    font-weight: 600;
}

.about-content {
    line-height: 1.6;
    font-family: "argent-pixel-cf", sans-serif;
}

.about-paragraph {
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
    font-family: "argent-pixel-cf", sans-serif;
}

.about-paragraph:last-child {
    margin-bottom: 0;
    font-family: "argent-pixel-cf", sans-serif;
}
